---
// Boilerplate from https://github.com/surjithctly/astroship/
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Contact">
  <Container>
    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Contact the BIE team</h2>
        <p class="text-lg leading-relaxed text-slate-800 mt-3">
          Have something to say? We are here to help. Submit an issue on GitHub
          to report a bug, request a feature, or ask a question and we'll get
          back to you as soon as possible.
        </p>
        <div class="mt-5">
          <div
            class="flex items-center mt-2 space-x-2 text-gray-600 border border-black w-fit py-2 px-4 rounded-sm">
            <Icon class="text-gray-700 w-4 h-4" name="uil:github" /><a
              href="https://github.com/seancswanson/breakers-injury-reference"
              >Visit our GitHub repo</a
            >
          </div>
        </div>
      </div>
    </div>
  </Container>
</Layout>
