---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">
    Dance Smarter, Perform Longer
  </h2>

  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    Ready to revolutionize your dance practice? Join The Breaker's Injury
    Reference today and take the first step towards a healthier, more informed
    approach to your passion.
  </p>
  <div class="flex mt-5">
    <Link href="#" style="inverted">Get Started</Link>
  </div>
</div>
