---
import { Image } from "astro:assets";
---
<a href="/movement-library/1990" class="shadow-sm rounded overflow-hidden hover:shadow transition-shadow duration-100">
    <div class="card-top bg-gray-100 w-full px-4 py-2">
      <h3 class="m-0">1990s</h3>
    </div>
    <div class="card-image">
      <Image
        src="https://bboydojo.com/wp-content/uploads/how-to-do-1990s.webp"
        alt="1990s"
        width={100}
        height={100}
        class="w-full h-auto aspect-video object-contain"
      />
    </div>
</a>